/.classpath
/.project
/Applet.ser
/Makefile
/README.md
/hs_err_pid6380.log
/index.html
/java.policy.applet
/lines.html
/loosequad.html
/points.html
/rectangles.html
/regions.html
/replay_pid6380.log
/vasco/
